<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha2/dist/css/bootstrap.css}">
</head>
<body>
<table class="table table-striped table-sm table-hover table-bordered" th:if="${!patients.isEmpty()}">
    <thead>
    <h1>Table patient's</h1>
    <tr>
        <th>Id</th>
        <th>Lastname</th>
        <th>Name</th>
        <th>Father name</th>
        <th>Address</th>
        <th>Phone number</th>
        <th>Med. card No.</th>
        <th>Diagnos</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient: ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.surname}"></td>
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.fatherName}"></td>
        <td th:text="${patient.address}"></td>
        <td th:text="${patient.phonenumber}"></td>
        <td th:text="${patient.medCardNo}"></td>
        <td th:text="${patient.diagnos}"></td>
        <td>
            <a class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
               data-bs-target="#myconfirm"
               th:attr="data-bs-link=@{/remove_patient(medcardno=${patient.medCardNo})}, data-bs-text=${patient.name}, data-bs-id=${patient.medCardNo}">delete</a>
        </td>
    </tr>
    </tbody>
</table>
<table class="table table-striped table-sm table-hover table-bordered" th:if="${!patients.isEmpty()}">
    <h1>Table diagnos-amount patients</h1>
    <tr>
        <th>Diagnos</th>
        <th>Amount</th>
    </tr>
    <tr th:each="diagnos, iter: ${diagnos_array}">
        <td th:text="${diagnos}"></td>
        <td th:text="${amount_array.get(iter.index)}"></td>
    </tr>
</table>
<h1>Range patients By medCard No.</h1>
<form action="range_patients" method="post">
    <input type="text" name="patients_start" placeholder="Start">
    <input type="text" name="patients_end" placeholder="End">
    <input type="submit" value="Show">
</form>
<table class="table table-striped table-sm table-hover table-bordered" th:if="${!range_patients.isEmpty()}">
    <tr>
        <th>Id</th>
        <th>Lastname</th>
        <th>Name</th>
        <th>Father name</th>
        <th>Address</th>
        <th>Phone number</th>
        <th>Med. card No.</th>
        <th>Diagnos</th>
        <th>Delete</th>
    </tr>
    <tr th:each="patient: ${range_patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.surname}"></td>
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.fatherName}"></td>
        <td th:text="${patient.address}"></td>
        <td th:text="${patient.phonenumber}"></td>
        <td th:text="${patient.medCardNo}"></td>
        <td th:text="${patient.diagnos}"></td>
        <td>
            <a class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
               data-bs-target="#myconfirm"
               th:attr="data-bs-link=@{/remove_patient(medcardno=${patient.medCardNo})}, data-bs-text=${patient.name}, data-bs-id=${patient.medCardNo}">delete</a>
        </td>
    </tr>
</table>
<h1>Phone number of patient's begin with:</h1>
<form action="number_patients" method="post">
    <input type="text" name="patient_phonenumber_first" placeholder="phonenumber begin with">
    <input type="submit" value="Show">
</form>
<table class="table table-striped table-sm table-hover table-bordered" th:if="${!number_patients.isEmpty()}">
    <tr>
        <th>Id</th>
        <th>Lastname</th>
        <th>Name</th>
        <th>Father name</th>
        <th>Address</th>
        <th>Phone number</th>
        <th>Med. card No.</th>
        <th>Diagnos</th>
        <th>Delete</th>
    </tr>
    <tr th:each="patient: ${number_patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.surname}"></td>
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.fatherName}"></td>
        <td th:text="${patient.address}"></td>
        <td th:text="${patient.phonenumber}"></td>
        <td th:text="${patient.medCardNo}"></td>
        <td th:text="${patient.diagnos}"></td>
        <td>
            <a class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
               data-bs-target="#myconfirm"
               th:attr="data-bs-link=@{/remove_patient(medcardno=${patient.medCardNo})}, data-bs-text=${patient.name}, data-bs-id=${patient.medCardNo}">delete</a>
        </td>
    </tr>
</table>

<h1>Find patient by medcard No.</h1>
<form action="find_patient">
    <input type="text" name="patient_medcardno" placeholder="medCard No.">
    <input type="submit" value="Find">
</form>
<tr th:text="${finded_patient}"></tr>

<div class="modal fade" id="myconfirm" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticWarningLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticWarningLabel">Warning</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure want to delete patient?<br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <a class="btn btn-danger delete-button">Delete</a>
            </div>
        </div>
    </div>
</div>
<script>
    var myConfirmModal = document.getElementById('myconfirm')
    myConfirmModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var link = button.getAttribute('data-bs-link')
        var sid = button.getAttribute('data-bs-id')
        var text = button.getAttribute('data-bs-text')
        var modalTitle = myConfirmModal.querySelector('.modal-title')
        modalTitle.textContent = 'Delete the patient: ' + text + ' (' + sid + ')'
        var deleteButton = myConfirmModal.querySelector('.delete-button')
        deleteButton.setAttribute("href", link)
    })
</script>
<h1>Add a patient</h1>
<form action="add_patient" method="post">
    <input type="text" style="width:150px;height:30px" name="patient_id" placeholder="Id">
    <input type="text" style="width:150px;height:30px" name="patient_lastname" placeholder="Lastname">
    <input type="text" style="width:150px;height:30px" name="patient_name" placeholder="Name">
    <input type="text" style="width:150px;height:30px" name="patient_fathername" placeholder="Fathername">
    <input type="text" style="width:150px;height:30px" name="patient_address" placeholder="Address">
    <input type="text" style="width:150px;height:30px" name="patient_phonenumber" placeholder="PhoneNumber">
    <input type="text" style="width:150px;height:30px" name="patient_medcardno" placeholder="Med.card No.">
    <input type="text" style="width:150px;height:30px" name="patient_diagnos" placeholder="Diagnos">
    <input type="submit" value="Add">
</form>
<a class="btn btn-outline-success" th:href="@{save_patients}">Save Patients</a>
<script th:src="@{/webjars/jquery/3.6.4/dist/jquery.js}"></script>
<script th:src="@{/webjars/popperjs__core/2.11.7/dist/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0-alpha2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>